#ai-config-page{
  min-height: 1000px;
}

.ai-main-container{
  background-color: #001840;
  margin: auto;
  width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  /* color: #F5C400; */
}

#ai-config-page .ai-main-container .main-page-title{
  padding: 30px 10px 10px 10px;
  text-align: center; 
  font-size: 20px;
  font-weight: bolder;
}

.config-main-container{
  width: 80%;
  background-color: #FFFDF0;
  border-radius: 15px;
  margin: auto;
  color: #3A4D39;
}

.main-page-instruction{
  background-color: #FFFDF0;
  margin: 20px 10%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

.configuration-main-container{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.model-information, .model-output, .model-files{
  background-color: #FFFDF0;
  min-width: 600px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  margin: 20px 5px;
  padding: 5px;
}

.model-information{
  text-align: center;
}

.model-information .train-ai-btn{
  text-align: center;
  background-color:#F5C400;
  border: none;
  color:#FFFDF0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.model-information .train-ai-btn:hover{
  box-shadow: 2px 2px black;
  background-color: #FFFDF0;
  color:#F5C400;
}

.model-information .model-info{
  text-align: left;
  padding: 5px;
}

.model-files .model-files-note{
  font-style: italic;
  font-size: 12px;
  padding: 5px
}

.model-files .chatbot-model-list {
  padding: 5px;
}

.model-files .chatbot-model-list .list{
  font-size: 12px;
  background-color: #FFFDF0;
  padding: 2px;
  max-height: 200px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  #ai-config-page{
    min-height: 1400px;
  }

  .ai-main-container{
    width: 95%;
    height: auto;
  }
  
  .model-information, .model-output, .model-files{
    min-width: 95%;
  }
}
