{% extends 'main/base.html' %}

{% load static %}

{% block body %}
  <div id="ai-config-page">

    <div class="ai-main-container">
      
      <div class="main-page-title">
        AI Configuration Page
      </div>      
      
      <div class="main-page-instruction">
        This page is designed to train and integrate new ai model to the system
      </div>

      <div class="configuration-main-container">
        <div class="model-information">

        </div>
        <div class="model-output">

        </div>
        <div class="model-files">

        </div>

      </div>

    </div>
  </div>
{% endblock %}
