{% extends 'main/base.html' %}

{% load static %}

{% block body %}
  <div id="ai-config-page">

    <div class="ai-main-container">
      
      <div class="main-page-title">
        AI Configuration Page
      </div>      
      
      <div class="main-page-instruction">
        This page is designed to train and integrate new ai model to the system
      </div>

      <div class="configuration-main-container">
        <div class="model-information">
          
          <input type='text' value="{% url 'train-ai' %}" id="train-ai-url" style="display: none;"></input>
          <button class="train-ai-btn" id="train-ai-btn" type="submit">TRAIN MODEL</button>

          <hr>
          
          <div class="model-information-label">
            Trained Model Information:
          </div>

          <hr>

          <div class="model-info">
            <div class="accuracy">Accuracy: [[ accuracy ]]</div>
            <div class="precision">Precision: [[ precision ]]</div>
            <div class="recall">Recall: [[ recall ]]</div>
            <div class="f1-score">F1 Score: [[ f1Score ]]</div>
            <!-- <div class="confusion-matrix">Confusion Matrix: [[ confusionMat ]]</div> -->
          </div>

        </div>
        <div class="model-files">
          
          <div class="model-files-note">
            Note: In order to apply newly trained AI, it must be manually impelemented in the code.
          </div>
          
          <hr>
          
          <div class="chatbot-model-list">
            <div class="chatbot-model-list-label">
              Chatbot Models: 
            </div>

            <hr>
            <div class="list">
              {% for file in chatbotModels %}   
                <li>{{ file }}</li>
                <hr>
              {% endfor %}
            </div>
          </div>

        </div>

        <!-- <div class="model-output">
          
        </div> -->
      </div>

    </div>
  </div>
{% endblock %}
